<div class="row mt-5" id="contactUs-title">
  <div class="col col-sm col-md col-lg col-xl">
    <h2 class="big-titles">Contáctenos</h2>
  </div>
</div>

<div class="row mt-5" id="contactUs">
  <div class="col col-sm col-md col-lg col-xl">
    <form>
      <div class="form-group">
        <label for="firstName">Nombres</label>
        <input type="text" class="form-control" id="firstName" placeholder="Ingresa tu nombre" required>
      </div>
      <div class="form-group">
        <label for="lastName">Apellidos</label>
        <input type="text" class="form-control" id="lastName" placeholder="Ingresa tu apellido" required>
      </div>
      <div class="form-group">
        <label for="reason">Motivo</label>
        <select class="form-control" id="reason" required>
          <option value="">---</option>
          <option value="congratulation">Felicitaciones</option>
          <option value="promotions">Promociones</option>
          <option value="itineraries">Itinerarios</option>
          <option value="complaints">Quejas</option>
        </select>
      </div>
      <div class="form-group">
        <label for="comment">Comentario</label>
        <textarea class="form-control" id="comment" rows="3" placeholder="Ingresa tu comentario" required></textarea>
      </div>
      <div class="text-center">
        <button class="btn btn-success"> Enviar </button>
      </div>
    </form>
  </div>
</div>