<div class="row" id="itinerary-title">
  <div class="col col-sm col-md col-lg col-xl">
    <h2 class="big-titles">Itinerarios</h2>
  </div>
</div>

<div class="row mt-5" id="itinerary">

  <div class="col col-sm col-md col-lg col-xl">

    <div class="card" style="width: 18rem;">
      <%= image_tag("slider2.jpg", alt: "Viaggiatori",  class: "card-img-top w-20")  -%>
      <div class="card-body">
        <h5 class="card-title">Nombre Itinerario</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam ducimus aliquam nihil
          recusandae sed quisquam. Illum voluptatibus, reiciendis velit labore amet, minima similique veritatis,
          iure nihil hic accusantium perspiciatis aut!</p>
        <a href="#" class="btn btn-primary">Conocer más</a>
      </div>
    </div>
  </div>
  <div class="col col-sm col-md col-lg col-xl">
    <div class="card" style="width: 18rem;">
      <%= image_tag("slider2.jpg", alt: "Viaggiatori",  class: "card-img-top w-20")  -%>
      <div class="card-body">
        <h5 class="card-title">Nombre Itinerario</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam ducimus aliquam nihil
          recusandae sed quisquam. Illum voluptatibus, reiciendis velit labore amet, minima similique veritatis,
          iure nihil hic accusantium perspiciatis aut!</p>
        <a href="#" class="btn btn-primary">Conocer más</a>
      </div>
    </div>
  </div>
  <div class="col col-sm col-md col-lg col-xl">
    <div class="card" style="width: 18rem;">
      <%= image_tag("slider2.jpg", alt: "Viaggiatori",  class: "card-img-top w-20")  -%>
      <div class="card-body">
        <h5 class="card-title">Nombre Itinerario</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam ducimus aliquam nihil
          recusandae sed quisquam. Illum voluptatibus, reiciendis velit labore amet, minima similique veritatis,
          iure nihil hic accusantium perspiciatis aut!</p>
        <a href="#" class="btn btn-primary">Conocer más</a>
      </div>
    </div>
  </div>

</div>