<div class="row" id="itinerary-title">
  <div class="col col-sm col-md col-lg col-xl">
    <h2 class="big-titles">Itinerarios</h2>
  </div>
</div>

<div class="row mt-5" id="itinerary">
  <% Itinerary.all.each do |i| %>
    <div class="col col-sm col-md col-lg col-xl">
      <div class="card" style="width: 18rem;">
        <%= image_tag i.avatar.url(:thumb), style: 'width: 100%; height: 170px;' -%>
        <h5 class="card-title m-3"><%= i.title %> </h5>
        <div class="card-body">
          <p class="card-text text-justify"> <%= i.short_description %> </p>
          <%= link_to "<button class='btn btn-primary' >Conocer más</button> ".html_safe, user_itinerary_path(i.id) %>
        </div>
      </div>
    </div>
  <% end %>

</div>