<div id="main-slider" class="carousel slide" data-ride="carousel" >
  <div class="carousel-inner" style="height: 750px;" >
    <div class="carousel-item item-slider active">
      <%= image_tag("slider1.jpg", alt: "Viaggiatori",  class: "d-block w-100 img-slider")  -%>
    </div>
    <div class="carousel-item item-slider">
      <%= image_tag("slider2.jpg", alt: "Viaggiatori",  class: "d-block w-100 img-slider")  -%>
    </div>
    <div class="carousel-item item-slider">
      <%= image_tag("slider3.jpg", alt: "Viaggiatori",  class: "d-block w-100 img-slider")  -%>
    </div>
  </div>
  <a class="carousel-control-prev" href="#main-slider" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#main-slider" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>