<ul class="navbar-nav mr-auto">
  <li class="nav-item active">
    <a class="nav-link" href="#">Inicio</a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="#itinerary">Itinerarios</a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="#contactUs">Contáctenos</a>
  </li>
</ul>