/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require dataTables/jquery.dataTables
 */


/*@import "bootstrap-sprockets";
@import "bootstrap";*/

@import "bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Limelight&display=swap");
:root {
    --yellow-color: #ffc000;
    --blue-color: #62b9d4;
    --green-color: #395723;
}

.name-page {
    font-family: 'Bungee Inline';
    font-size: 35px;
}

.item-slider {
    /*display: block;*/
    width: 100%;
    height: 100%;
}

.img-slider {
    height: 100%;
    width: 100%;
}

.big-titles {
    color: var(--yellow-color);
    font-size: 90px;
    text-align: center;
    border-bottom: 5px #395723 solid;
}

.footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: var(--green-color);
    color: white;
    height: 140px;
}

.footer-list {
    list-style: none;
}

.footer-link {
    color: white;
    width: 50%;
}

.footer-link:hover {
    color: white;
    border-bottom: 2px solid;
}

.btn {
    display: inline-flex;
    align-items: center;
}

.btn .material-icons {
    margin-right: 0.3rem;
}

.btn-blue {
    background: var(--blue-color);
    border-color: var(--blue-color);
}

.btn-yellow {
    background: var(--yellow-color);
    border-color: var(--yellow-color);
}

.btn-green {
    background: var(--green-color);
    border-color: var(--green-color);
    color: white;
}